@model SpeedyWheels.Models.Car

@{
    ViewData["Title"] = "Nowy pojazd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nowy samochód</h1>

<h4>Samochód</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerHour" class="control-label"></label>
                <input asp-for="CostPerHour" class="form-control" />
                <span asp-validation-for="CostPerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionDay" class="control-label"></label>
                <input asp-for="ProductionDay" class="form-control" />
                <span asp-validation-for="ProductionDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoorCount" class="control-label"></label>
                <input asp-for="DoorCount" class="form-control" />
                <span asp-validation-for="DoorCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearBox" class="control-label"></label>
                <input asp-for="GearBox" class="form-control" />
                <span asp-validation-for="GearBox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsCount" class="control-label"></label>
                <input asp-for="SeatsCount" class="form-control" />
                <span asp-validation-for="SeatsCount" class="text-danger"></span>
            </div>
            <input style="visibility: hidden" readonly class="form-check-input" asp-for="IsRented" /> @Html.DisplayNameFor(model => model.IsRented)
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageAddress" class="control-label"></label>
                <input asp-for="ImageAddress" class="form-control" />
                <span asp-validation-for="ImageAddress" class="text-danger"></span>
            </div>
            <input style="visibility: hidden;" class="form-check-input" checked readonly asp-for="IsActive" />
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
